<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Music App</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css?ver=1000000000000000000000">
  </head>
   <body>
    <% if session[:message] %>
      <p id="session_message"><%= session.delete(:message) %></p>
    <% end %>
    <% if session[:error] %>
      <p id="session_error"><%= session.delete(:error) %></p>
    <% end %>
    <% if session[:username] %>
      <div class="topnav">
        <a href="/">Browse Posts</a>
        <a href="/users/<%= session[:username] %>">Your profile</a>
        <form action="/search" method="post">
          <input name="search" type="text" value="<%= params[:search] %>" placeholder="Search users..." />
        </form>
      </div>
    <% end %>
    <%== yield %>
  </body>
</html>