
<h1>Your feed</h1>
<a id="new_post_link" href="/users/posts/new">Create a new post!</a>
<a class="feed_swap" href="/browse">Top posts of the week</a>
<ol>
  <% @posts.each do |post| %>
    <div id="post">
      <h3><a href="/users/<%= post[:username] %>"><%= post[:username] %></a></h3>
      <p id="time_of_post">Posted at: <%= post[:time_of_post] %></p>
      <% if post[:song_link].include?("spotify.com") %>
        <% if post[:song_link].include?("playlist")%>
          <iframe id="embed"  height="90" width="320" src="<%= post[:song_link].gsub("playlist", "embed/playlist") + "?utm_source=generator" %>"
          title="Spotify player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <% else %>
          <iframe id="embed"  height="90" width="320" src="<%= post[:song_link].gsub("track", "embed/track") + "?utm_source=generator" %>"
          title="Spotify player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <% end %>
      <% elsif post[:song_link].include?("youtube.com") %>
        <% if post[:song_link].include?("playlist") %>
          <iframe id="embed" height="180" width="320" src="<%= post[:song_link].gsub("playlist?", "embed/videoseries?") %>"
           title="YouTube video player" frameborder="0"
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
           allowfullscreen></iframe>
        <% else %>
          <iframe id="embed" height="180" width="320" src="<%= post[:song_link].gsub("watch?v=", "embed/") %>"
           title="YouTube video player" frameborder="0"
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
           allowfullscreen></iframe>
        <% end %>
      <% end %>
      <p id="caption">Caption: <%= post[:caption] %></p>
      <p id="counts">Likes: <%= post[:likes] %> Comments: <%= post[:comments] %></p>
      <p id="song_link"><a href="<%= post[:song_link] %>">Listen here</a><p>
      <form action = "/posts/<%= post[:id]%>/likes" method = "post">
        <button>Like</button>
      </form>
      <a id="comment_thread_link" href="/posts/<%= post[:id]%>">See the full discussion</a>
    </div>
  <% end %>
</ol>